.item{
    width: 200px;height: 200px;
}
.item a{text-decoration: none;
}
.wsName{
    color: #223e55;
    margin-top: 15px;
}
.Rooms{
    color: #223e55;
    background-color: #fafafa;
    padding-top: 4px;
    padding-bottom: 25px;
}
.cardHolder{
    display:contents;
    width: auto;
}
.cardss{
    border-radius: 25px; 
    padding: 6px;
}
.cardss:hover {
    transform: translate3D(0,-1px,0) scale(1.03); /* move up slightly and zoom in */
    box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
    transition: all .4s ease; /* zoom in */
    cursor: pointer;
  }
.cardImg{
    border-radius: 20px!important;
}
.cardImg:hover{
   background-color: "#f5f5f5"
}
.line{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    line-height: 15px;
    color: gray;
}

.details p{
    color: gray;
}
.icon{
    color: #4b86b4;
    position: relative;
    display: block;
    float: left;
    font-size: 15px;
    margin-right: 10px;
    text-align: center;
}
.btnCard{
    display: flex!important;
    align-items: center;
    justify-content: center;
    background-color :#63ace5!important;
    padding-bottom:6px !important;
    width:90% !important;
    border-radius:20px!important;
    transition-duration: 0.2s!important;
    font-weight:600!important;
}
.btnCard:hover{
    background-color: #4b86b4!important;
}

.bar{
    clear: both;
    margin: 6px 6px 6px 6px;
    padding: 5px 5px 5px 5px; 
    }

.progressHeading {
    overflow: hidden;
    margin-bottom: 5px;
    }

   .progressTitle {
    float: left;
    margin: 0;
    padding: 0;
    color: #444;
    font-weight: 300;
    }
     .progressValue {
    text-align: right;
    font-weight: 400;
    }
    .progress .progBar {
    float: left;
    height: 100%;
    font-size: 13px;
    line-height: 7px;
    color: #fff;
    text-align: center;
    }

    .progress .progBar{
   color: #d6242a!important;
    border-radius: 10px;
    }
