body{
    background:radial-gradient(#e5e5e5,#ffff,#e5e5e5);
}
.card{
    width: 22rem;
    
}
.card:hover{
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.253)!important;
}
.card-body{
    padding: 1rem 0!important;
}
.card-text{
    font-size: 1rem;
    padding: 0.1rem 1rem;
}
.container-fluid{
    /*margin-top:5rem;*/
    /*padding-bottom:5rem;*/
}
.ttotta{
    display: flex;
    margin-top: 7rem;
}
.col-md-4{
    padding-bottom: 5rem;
}
.overflow{
    overflow: hidden;
}
.card-img-top{

    transform: scale(1);
    transition:transform 0.5s ease;
}
.card-img-top:hover{
    transform: scale(1.8);
}

