/* .imgBg{
        background-image: url(../../images/hero-image-01.jpg);
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
        width:100%;
        height: 100vh;
        color: #f5f5f5
} */
body{
    font-family: 'Montserrat', sans-serif!important;
    font-weight: 600px;
    text-decoration: none;
}

.butBg {
    text-align: center;
    /* font-family:  Verdana, Geneva, Tahoma, sans-serif; */
    color: #fff;
    background-color: rgba(0, 0, 0, 0.575);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeInp {
    width: 100%;
    border-radius: 30px!important;
}

.urZone {
    font-weight: bold;
    background-color: blue;
}

.homebtn{
    background-color: #4b86b4!important;
    border-radius: 50px!important;
}
.homebtn:hover{
    background-color: #63ace5!important;
    width: 220px;
   
}

.Services {
    margin-top: 50px;
}

.Services h3 {
    font-size: 80px;
    font-weight: 700;
    color: rgb(230, 230, 230);
}

.Services h2 {
    font-size: 40px;
    font-weight: 800;
    color: #4b86b4;
}

.Services p {
    font-size: 18px;
    color: #999;
    margin-bottom: 30px;
}
/************************/

    .addWS {
    position: relative;
    background: #e2e2e2;
    height: 20%;
    text-align: center;
    /* top: 50%; */
    }
    /* .btnWork{
    background-color: royalblue;
    padding-top: 30px;

    color: #fff;
    } */
   
    .TextBox{
    line-height: 50px;
    font-weight: 400;
    padding-top: 15px;
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    color: #282828;
    }
    .addWS a {
    background-color: #4b86b4;
    padding-top: 30px;
    margin-top: 18px;
    text-decoration: none !important;
    color: #fff;
    border-radius: 3px;
    padding: 18px 30px;
    line-height: 1;
    font-weight: 700;
    border-width: 0;
    transition: all 0.1s ease-in;
    cursor: pointer;
    border: 1px solid transparent;
    }
    .addWS a:hover{
        background-color: #63ace5;
    }
    
