/* .imgBg{
        background-image: url(../../images/hero-image-01.jpg);
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
        width:100%;
        height: 100vh;
        color: #f5f5f5
} */
body{
    font-family: 'Montserrat', sans-serif!important;
    font-size: 1.5rem;
    font-weight: 600px;
}

.butBg{
    text-align: center;
    /* font-family:  Verdana, Geneva, Tahoma, sans-serif; */
    color: #fff;
    background-color: rgba(0, 0, 0, 0.575);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.homeInp{
    width: 100%;
    border-radius: 30px!important;
}
.urZone{
    font-weight:bold;
    background-color: blue;
}

.homebtn{
    background-color: #63ace5!important;
    border-radius: 50px!important;
}
.homebtn:hover{
    background-color: #4b86b4!important;
    width: 220px;
   
}
.Services{
    margin-top: 50px;
}
.Services h3{
    font-size: 80px;
    font-weight: 700;
    color: rgb(230, 230, 230);
    }
    .Services h2{
    font-size: 40px;
    font-weight: 800;
    color: #4b86b4;
    }
    .Services p{
        font-size: 18px;
        color: #999;
        margin-bottom: 30px;
    }
   