/* .filter{
    background-color: hsla(0, 0%, 0%, 0.676);
  
  } */
/*   
  .formRegister {
      display: flex;
      flex-direction: column;
      gap: 1px;
      max-width: 450px;
      background-color: #fff;
      border-radius: 20px;
      position: relative;
      margin:auto;
       margin-top: 15px;
      align-items: center;
      justify-content: center;
      padding: 30px 30px 30px 30px;
      border-radius: 30px;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
      
    }
    
    .title {
      font-size: 28px;
      color: royalblue;
      font-weight: 600;
      letter-spacing: -1px;
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 30px;
    }
    
    .title::before,.title::after {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      border-radius: 50%;
      left: 0px;
      background-color: royalblue;
    }
    
    .title::before {
      width: 18px;
      height: 18px;
      background-color: royalblue;
    }
    
    .title::after {
      width: 18px;
      height: 18px;
      animation: pulse 1s linear infinite;
    }
    
    .message, .signin {
      color: rgba(88, 87, 87, 0.822);
      font-size: 14px;
    }
    
    .inputField {
        width: 100%;
        height: 40px;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid rgb(173, 173, 173);
        border-radius: 30px;
        margin: 10px 0;
        color: black;
        font-size: .8em;
        font-weight: 500;
        box-sizing: border-box;
        padding-left: 30px;
      } 
      .inputFieldd {
        width: 100%;
        height: 80px;
        background-color: transparent;
        border:2px solid rgb(173, 173, 173);
        border-bottom: 2px solid rgb(173, 173, 173);
        border-radius: 10px;
        margin: 10px 0;
        color: black;
        font-size: .8em;
        font-weight: 500;
        box-sizing: border-box;
        padding-left: 10px;
      } 
      .iinputField {
        width: 100%;
        height: 40px;
        background-color: transparent;
        border: 2px solid rgb(173, 173, 173);
        border-bottom: 2px solid rgb(173, 173, 173);
        border-radius: 10px;
        margin: 10px 0;
        color: black;
        font-size: .8em;
        font-weight: 500;
        box-sizing: border-box;
        padding-left: 10px;
      } 
    
    @keyframes pulse {
      from {
        transform: scale(0.9);
        opacity: 1;
      }
    
      to {
        transform: scale(1.8);
        opacity: 0;
      }
    } */