body {
  color: #ffffff;
  margin: 0;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
@fontface {
  font-family: 'Kanit', sans-serif;
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

}

/* code {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}; */

