
body {
  background-color: aqua;
  /* background-color: #131722; */
  color: #ffffff;
  margin: 0;
  font-family: initial;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
